body {
    background-color:#EEEEEE;
}
.signUpMainGrid{
    
    padding: 1%;
    padding-left: 18%;
    padding-right: 15%;
}

.signUpChildGrid1{
    padding-top: 7%;
}
.signUpChildGrid2{
    padding: 5%;
}
.signUpInput{
    float: left;
    width: 100%;
    
    
}
.signUpInputButton{
    float: left;
    width: 100%;
    height: 50px;
    background-color: #00ADB5;
    
}
.signUpOtpButton{
    float: left;
    width: 48%;
    height: 25px;
    background-color: #393E46;
    font-size: 5px;
     
}
.signUpLoginButton{
    
    width: 48%;
    height: 25px;
    background-color: #393E46;
    font-size: 5px;
     
}
.signUpLogo{
    width: 30vw;
    
}
.signUpName{
    color: #393E46;
   
}

@media only screen and (max-width:500px) {
    .signUpLogo{
        width:250px
    }
    
}